.title {
  flex-grow: 1;
  margin-left: 40px;
}

.button-bar {
  float: right;
}

.sidebar {
  background: #222;
  color: #fff;
  height: 100%;
}
.sidebar.sidebar-closed {
  width: 0;
}
.sidebar.sidebar-open {
  min-width: 240px;
  max-width: 320px;
  width: 100%;
}

.sidebar h1 {
  font-weight: 200;
  font-size: 120%;
  line-height: 44px;
  margin: 0 14px;
}

#main {
  display: flex;
  flex-flow: row nowrap;

  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;

  overflow: hidden;
}

#menu-button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

#root {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

#sidebar-container {
  max-width: 320px;
  height: 100%;
}

#root-container {
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}
