html, body, #app-container {
  height: 100%;
}

#app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.title {
  flex-grow: 1;
}

.button-bar {
  float: right;
}
.button-bar button,
.wb-module-drawer button,
.wb-perspective-bar button {
  background: #49d;
  color: #fff;
  font-size: 16px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.65);
  transition: background 0.3s, color 0.3s, transform 0.3s;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.65);
}
.button-bar button:hover,
.wb-module-drawer button:hover,
.wb-perspective-bar button:hover {
  background: #8cf;
}
.button-bar button:active,
.wb-module-drawer button:active,
.wb-perspective-bar button:active {
  transform: translateY(2px);
}

.wb-module-drawer.wb-module-drawer-open button,
.wb-perspective-bar-item.wb-perspective-selected button {
  background: #25a;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.65);
}
.wb-module-drawer-contents {
  position: absolute;
  bottom: 5px;
  min-width: 200px;
  max-width: 400px;
  border-radius: 4px;
  padding: 4px 0;
  user-select: none;
}
.wb-module-drawer-contents {
  background: rgba(0, 0, 0, 0.8);
}
.wb-module {
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.65);
}
.wb-module:hover {
  background: linear-gradient(to bottom, #06c 0%, #25a 100%);
}
.wb-module.wb-module-disabled:hover {
  background: none;
}

.wb-perspective-bar button.wb-perspective-bar-save-button,
.wb-perspective-bar button.wb-perspective-bar-new-button {
  background: #fa4;
}
.wb-perspective-bar button.wb-perspective-bar-save-button:hover,
.wb-perspective-bar button.wb-perspective-bar-new-button:hover {
  background: #fc6;
}
.wb-perspective-bar button.wb-perspective-bar-save-button:active
.wb-perspective-bar button.wb-perspective-bar-new-button:active {
  background: #fc6;
}
